body{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.header{
    background-color: white;
    height:100px;
    line-height: 100px;
    border: black dotted;
    position: relative;

}
        .button1
        {
          
          width: 100px;
          position: absolute;
          right: 0;
        }
        .button2
        {
          width: 100px;
          position: absolute;
          right: 100px;
        }
      

        #logo{
            height: 80px;
            width: auto;
        }


.Menu{
    padding: 20px;
    width: 100%;
    border: 3px solid;
    margin-bottom: 20px;
}

td{
    text-align: center;
    border: 1px solid;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */

.boss{
    position: relative;
    margin: auto;
    height: 450px;
    width: 50%;
    float: left;
}
.boss> .slideshow-container{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}
.slideshow-container>img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 75%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /*display: inline-block;*/
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




